# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Kotlin files
[*.{kt,kts}]
indent_size = 4
indent_style = space
max_line_length = 120

# Frontend files
[*.{js,jsx,mjs,cjs,ts,tsx,mts,cts,vue,css,scss,sass,less,styl}]
indent_size = 2
indent_style = space
max_line_length = 100

# JSON files
[*.json]
indent_size = 2
indent_style = space

# YAML files
[*.{yml,yaml}]
indent_size = 2
indent_style = space

# Gradle files
[*.{gradle,gradle.kts}]
indent_size = 4
indent_style = space

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Properties files
[*.properties]
end_of_line = lf
